body {
    min-width: 640px;
}

.header .navbar {
    padding: 0 40px;
}

.header .navbar-nav .nav-link {
    font-size: 12px;
    color: #893b67;
}

.header .navbar-brand img {
    width: 100px;
}

.badge-danger {
    background: #893b67;
}

.header .navbar-nav .dropdown .btn {
    font-size: 14px;
}

.header .dropdown-toggle {
    border-radius: 30px;
    border: 1px solid #cccccc;
}

.main .object .name,
.object .subname {
    margin-bottom: 0;
    padding-top: 5px;
}

.main {
    clear: both;
}

.main .object .card {
    border: none;
}

.main .object .card-text {
    margin-right: 20px;
}

.main .object .list-group li {
    border: none;
}

.main .object .list-group {
    margin-top: 40px;
}

.main .object .list-group a {
    color: #893b67;
}

.main .object .card-link,
.main .object-small-size .card-link {
    color: #893b67;
}

.main .general .title {
    padding-top: 40px;
}

.main .general .card {
    min-height: 120px;
    max-height: 100%;
    margin-bottom: 20px;
}

.main .general .date {
    display: inline-block;
    margin-bottom: 10px;
}

.main .general .more {
    width: 20px;
    height: 20px;
}

.news, .news-small-size {
    background: #cccccc;
    clear: both;
}

.news .overflow {
    overflow: hidden;
}

.news .card,
.news-small-size .card {
    background: none;
    border: none;
}

.news .card .background,
.news-small-size .card .background {
    display: inline-block;
    width: 70px;
    height: 20px;
    background: url('../image/sprite-news.png') no-repeat;
}

.news .card .action,
.news-small-size .card .action {
    background-position: 0 0;
}

.news .card .new,
.news-small-size .card .new {
    background-position: 40% 0;
}

.news .card .shares,
.news-small-size .card .shares {
    background-position: 70% 0;
}

.news .card .events,
.news-small-size .card .events {
    background-position: 100% 0;
}

.footer {
    clear: both;
    padding-top: 40px;
    padding-bottom: 40px;
}

.footer .social-icon {
    margin-bottom: 20px;
}

.footer .contacts .icon {
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url('../image/sprite-footer.png') no-repeat;
}

.footer .contacts .fb {
    background-position: 0 0;
}

.footer .contacts .vk {
    background-position: 25% 0;
}

.footer .contacts .inst {
    background-position: 50% 0;
}

.footer .contacts .ok {
    background-position: 75% 0;
}

.footer .contacts .you {
    background-position: 100% 0;
}

.footer .nav .list-group,
.footer .nav .title {
    padding: 0;
}

.footer .adress .lead {
    margin-bottom: 10px;
}

.footer .adress .small {
    margin: 0;
}

.footer .nav-small-size {
    padding-top: 20px;
}

.footer .nav-small-size .dropdown {
    border-bottom: 1px solid #cccccc;
}

.footer .adress .email {
    color: #893b67;
}

.footer .nav .empty {
    width: 20px;
    height: 20px;
}

.icon {
    width: 16px;
    height: 16px;
  }

  .position-absolute {
      height: 100px;
      top: 240px;
      left: 100px;
  }