.header .navbar {
    padding: 0 40px;
}

.header .navbar .lead {
    margin-right: 20px;
}

.header .dropdown-toggle {
    border-radius: 30px;
    border: 1px solid #cccccc;
}

.main .object .name,
.object .subname {
    margin-bottom: 0;
    padding-top: 5px;
}

.main {
    clear: both;
}

.main .object .card {
    border: none;
}

.main .object .card-text {
    margin-right: 20px;
}

.main .object .list-group li {
    border: none;
}

.main .object {
    position: relative;
    top: -70px;
}

.main .object .list-group {
    margin-top: 40px;
}

.main .general .title {
    padding-top: 40px;
}

.main .general .card {
    min-height: 120px;
    max-height: 100%;
    margin-bottom: 20px;
}

.main .general .date {
    display: inline-block;
    margin-bottom: 10px;
}

.main .general .more {
    width: 20px;
    height: 20px;
}

.news {
    background: #cccccc;
    clear: both;
}

.news .overflow {
    overflow: hidden;
}

.news .card {
    background: none;
    border: none;
}

.news .card .background {
    display: inline-block;
    width: 70px;
    height: 20px;
    background: url('../image/green.png') no-repeat;
}

.footer .contacts {
    margin-right: 20px;
}

.footer {
    clear: both;
    padding-top: 40px;
}

.footer .social-icon {
    margin-bottom: 20px;
}

.footer .contacts .icon {
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url('../image/sprite-footer.png') no-repeat;
}

.footer .contacts .fb {
    background-position: 0 0;
}

.footer .contacts .vk {
    background-position: 25% 0;
}

.footer .contacts .inst {
    background-position: 50% 0;
}

.footer .contacts .ok {
    background-position: 75% 0;
}

.footer .contacts .you {
    background-position: 100% 0;
}

.footer .nav .list-group,
.footer .nav .title {
    padding: 0;
}

.footer .adress .lead {
    margin-bottom: 10px;
}

.footer .adress .small {
    margin: 0;
}